<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
            <style>
                
                .row-flex {
                display: flex;
                flex-wrap: wrap;
                }


                /* vertical spacing between columns */

                [class*="col-"] {
                margin-bottom: 30px;
                }

                .content {
                /*height: 100%;*/
                padding: 20px 20px 10px;
                color: rgb(238, 16, 16);
                }

            </style>
        </head>
    <body>
      <div class="container">
        <div>
                <div class="row row-flex">
            {% for d in pdata %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="content colour-1">
            <span >{{d}} ( {{d|length}} )</span>
                    </div>
            </div>
            {% endfor %}
            </div>
        </div>
        {% for d in pdata %}
          {{d}}
          <ul>
            {% for l in pdata[d] %} 
               <li> {{l["message"]}} </li>
            {% endfor %}
        </ul>
        {% endfor %}
        </div>
    </body>
</html>